<IfModule mod_rewrite.c>
    RewriteEngine On

    # Déterminer la Front Controller (index.php)
    RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
    RewriteRule ^(.*) - [E=BASE:%1]

    # Définir l'en-tête d'autorisation si elle est transmise
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^(.*) - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Rediriger vers l'URI sans le fichier index.php si celui-ci est présent dans l'URL
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^index\.php(?:/(.*)|$) %{ENV:BASE}/$1 [R=301,L]

    # Si le fichier ou dossier demandé n'existe pas, on redirige vers index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ %{ENV:BASE}/index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # Fallback si mod_rewrite n'est pas activé
        RedirectMatch 302 ^/$ /index.php/
    </IfModule>
</IfModule>